:root {
      --theme-color-name: #0097fd;
      --c-primary: rgb(var(--rgb-primary));
      --c-primary-active: #0080e3;
      --c-primary-light: #0097fd80;
      --c-primary-fade: #0092f81a;
      --rgb-primary: 0, 151, 253;
      --c-dark-primary: rgb(var(--rgb-dark-primary));
      --c-dark-primary-active: #0085e5;
      --c-dark-primary-light: #1a9cff80;
      --c-dark-primary-fade: #0197fa1a;
      --rgb-dark-primary: 0, 151, 253
}


    